<app-navbar>
    <div class="container">
        <div class="text-panels">
            <div class="text-area">
                <div class="text-label">
                    Enter Text To Be Translated
                </div>
                <textarea id="latin-text" class="text-box" placeholder="Lorem ipsum dolor sit amet"></textarea>
            </div>
            <div class="text-area">
                <div id="confirmation">
                    <img src="assets/correct.png" alt="confirmation">
                    <h1>Copied to clipboard!</h1>
                </div>
                <div class="text-label">
                    Translated Text
                </div>
                <textarea id="braille-text" class="text-box" (click)="copyToClipboard()" contenteditable="false" placeholder="⠇⠕⠗⠑⠍⠀⠊⠏⠎⠥⠍⠀⠙⠕⠇⠕⠗⠀⠎⠊⠞⠀⠁⠍⠑⠞"></textarea>
            </div>
        </div>
        <button (click)="translate()">
            Translate
        </button>
    </div>
</app-navbar>