<div class="bg">
  <div class="panel">
      <!-- <img src="assets/braille-spark-logo-white.png" alt="braille-spark logo" class="braille-spark-logo" > -->
  
<div class="grid-container">
  <h1 class="mat-h1" style="text-align: center;">Dashboard</h1>
  <mat-grid-list cols="12" rowHeight="20vh">
    


  <!-- Mak code -->
  <mat-grid-tile [colspan]="6" [rowspan]="2">
    <mat-card routerLink="/" class="dashboard-card">
      <!-- <img mat-card-image [src]="'../../../assets/Book.png'"> -->

      <mat-card-header>

        <!-- <mat-card-title>
          {{card.title}}
          
        </mat-card-title> -->
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div style="position: relative;">
           <!-- <img src="../../../assets/Book.png" style="width:fit-content;  height: 10%;" >  -->
          <img src="../../../assets/Book.png" style="height: 9rem;">
          <!-- <h4>learn modules</h4> -->
          <h4>Learn Modules</h4>
       </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="6" [rowspan]="1">
    <mat-card routerLink="/" class="dashboard-card">
      <!-- <img mat-card-image [src]="'../../../assets/Book.png'"> -->

      <mat-card-header>

        <!-- <mat-card-title>
          {{card.title}}
          
        </mat-card-title> -->
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div style="position: relative;">
           <!-- <img src="../../../assets/Book.png" style="width:fit-content;  height: 10%;" >  -->
          <img src="../../../assets/Settings.png" style="height: 3.5rem;">
          <h4>Manage Account</h4>
       </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="6" [rowspan]="2">
    <mat-card routerLink="/" class="dashboard-card">
      <!-- <img mat-card-image [src]="'../../../assets/Book.png'"> -->

      <mat-card-header>

        <!-- <mat-card-title>
          {{card.title}}
          
        </mat-card-title> -->
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div style="position: relative;">
           <!-- <img src="../../../assets/Book.png" style="width:fit-content;  height: 10%;" >  -->
          <img src="../../../assets/Speaker.png" style="height: 9rem;">
          <h4>Trasnlator</h4>
       </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="6" [rowspan]="1">
    <mat-card routerLink="/" class="dashboard-card">
      <!-- <img mat-card-image [src]="'../../../assets/Book.png'"> -->

      <mat-card-header>

        <!-- <mat-card-title>
          {{card.title}}
          
        </mat-card-title> -->
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div style="position: relative;">
           <!-- <img src="../../../assets/Book.png" style="width:fit-content;  height: 10%;" >  -->
          <img src="../../../assets/Eye.png" style="height: 3.5rem;">
          <h4>View Course</h4>
       </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  </mat-grid-list>
</div>
</div>
</div>
