<nav class="navbar">
    <img src="assets/Braille Spark-logos_white2.0.png" alt="braille-spark logo" class="braille-spark-logo">
    <ul class="nav-links">
      <li><a class='navBarLogos' routerLink="/dashboard"><img src="assets/Whitebook.png" ></a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <img src="assets/aegis-logo.png" alt="aegis logo" class="aegis-logo">
  </nav>