<nav class="navbar">
    <img src="assets/Braille Spark-logos_white2.0.png" alt="braille-spark logo" class="braille-spark-logo">
    <ul class="nav-links">
      <li><a class='navBarLogos' routerLink="/dashboard"><img src="assets/Whitebook.png" ></a></li>
      <li><a class='navBarLogos' routerLink="/dashboard"><img src="assets/WhiteEye.png" ></a></li>
      <li><a class='navBarLogos' routerLink="/dashboard"><img src="assets/WhiteSettings.png"></a></li>
      <li><a class='navBarLogos' routerLink="/dashboard"><img src="assets/WhiteSpeaker.png"></a></li>
      <li><a class='navBarLogos' routerLink="/dashboard"><img src="assets/Light.png"></a></li>
    </ul>
    <img src="assets/aegis-logo.png" alt="aegis logo" class="aegis-logo">
  </nav>
  <br>
  <br>
  <div class="background">
    <h1></h1>
  </div>