<div class="bg">
    <div class="panel">
        <img src="assets/braille-spark-logo-white.png" alt="braille-spark logo" class="braille-spark-logo">
        <div class="inside-panel">
            <h1 class="title">Sign in</h1>
            <form action="" class="form">
                <div class="input">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" class="text-input">
                </div>
                <div class="input">
                    <label for="password">Password</label>
                    <input type="text" id="password" name="password" class="text-input">
                </div>
                <input type="button" value="Next" class="button" >
            </form>
            <div class="no-account">
                <h4>Don't have an account?</h4>
                <button class="button-small">Create Account</button>
            </div>
        </div>
    </div>
    <img src="assets/aegis-logo.png" alt="aegis logo" class="aegis-logo">
</div>