<div class="register-panel">
        <img src="../../../assets/braille-picture.webp" alt="braille picture" class="picture">
        <form action="">
            <img src="../../../assets/braille-spark-logo-black.png" alt="braille-spark logo" class="logo">
            <h1 class="title">Create Account</h1>
            <div class="name-box">
                <div class="input-box">
                    <label for="first-name">First Name</label>
                    <input type="text" name="first-name" id="first-name">
                </div>
                <div class="input-box">
                    <label for="last-name">Last Name</label>
                    <input type="text" name="last-name" id="last-name">
                </div>
            </div>
            <div class="input-box">
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
            </div>
            <div class="input-box">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <button class="button">Create Account</button>
            <h5 (click)="closeRegisterPage()">Already have an account?</h5>
        </form>
</div>