<div class="change-password-panel">
    <h2>Change Password</h2>
    <form (submit)="onSubmit()">
        <div class="input-box">
            <label for="new-password">New password</label>
            <input type="text" name="new-password" id="new-password" [(ngModel)]="formData.password" required>
        </div>
        <div class="input-box">
            <label for="confirm-password">Confirm Password</label>
            <input type="text" name="confirm-password" id="confirm-password" [(ngModel)]="formData.confirmation" required>
        </div>
        <input type="submit" value="Submit" class="submit">
    </form>
</div>