.change-username-panel
    width: 50%
    height: 70%
    background-color: #d3d3d3
    position: absolute
    top: 56%
    left: 65%
    transform: translate(-50%, -55%)
    font-family: Jockey One
    flex-direction: column
    align-items: center
    text-align: center
    padding-top: 20px

    .Heading
        position: absolute
        left: 20%
  
    .input1 input, .input2 input, .input3 input 
        width: 60%
        font-size: 15px
        padding: 10px
    .input1 input 
        position: absolute
        top: 25%
        left: 20%
    .input2 input
        position: absolute
        top: 40%
        left: 20%
    .input3 input 
        position: absolute
        top: 55%
        left: 20% 
    .Submit
        position: absolute
        top: 70%
        left:20% 
        padding: 10px 20px
        background-color: black
        color: white
        border: none
        font-weight: bold
        cursor: pointer
        transition: background-color 0.3s ease
        justify-content: center
        font-family: Jockey One
        font-size: 15px
        letter-spacing: 2px