<div class="change-username-panel">
    <h2>Change Username</h2>
    <div class="input-box">
        <label for="new-username">New Username</label>
        <input type="text" name="new-username" id="new-username">
    </div>
    <div class="input-box">
        <label for="retype-new-username">Confirm New Username</label>
        <input type="text" name="retype-new-username" id="retype-new-username">
    </div>
    <div class="input-box">
        <label for="old-username">Old Username</label>
        <input type="text" name="old-username" id="old-username">
    </div>
    <input type="submit" value="Change Username" class="submit">
</div>
