<div class="change-username-panel">
    <h2>Change Password</h2>
    <form (submit)="onSubmit()">
        <div class="input-box">
            <label for="old-username">Old Username</label>
            <input type="text" name="old-username" id="old-username" [(ngModel)]="formData.oldUsername" required>
        </div>
        <div class="input-box">
            <label for="new-username">New Username</label>
            <input type="text" name="new-username" id="new-username" [(ngModel)]="formData.newUsername" required>
        </div>
        <input type="submit" value="Submit" class="submit">
    </form>
</div>